{% extends "entries/base.html" %}

{% block content %}
<div class="container-fluid main-bg h-100"
    style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('static/images/chau-cedric--6GinD-1NwE-unsplash.jpg')">
    <div class="row h-100 justify-content-center">
        <div class="col-md-8 text-center text-white my-auto">
            <h1>
                Welcome to Lane8!
            </h1>
            <h4>
                The #1 publication for all track & field news
            </h4>
            <form method="POST" class="bootstrap4">
                <button type="submit" class="btn btn-primary">Login</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}